body{
  background: linear-gradient(rgba(2, 1, 1, 0.737) , rgba(127, 128, 129, 0.942)), url(/images/signisn:login\ pic.JPG);  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#helle{
    text-align: center;
}

.login{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    text-align: center;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 40px 50px;
    width: 350px;
    border-radius: 10px;
    color: white;
    align-items: center;
    transition: transform 0.3s ease;
}

.login:hover{
    transform: translateY(-5px);
}

.login h2{
    margin-bottom: 30px;
    font-size: 1.8em;
    letter-spacing: 1px;
}

.login span{
    color: #00fff2;
    font-weight: 600;
}

.input-box{
    color: #00fff2;
    text-align: left;
}


.input-box input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 15px;
    transition: 0.3s;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
}

.input-box input:focus{
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 8px #00fff2;
    transform: scale(1.02);
}

button{
    background: linear-gradient(90deg,#00fff2,#00b4d8);
    color: #000;
     padding: 10px 15px ;
     border-radius: 8px;
     border: none;
     width: 380px;
     cursor: pointer;
}


#signup-text3{
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}

#signup-text3:hover{
    text-decoration: underline ;
    cursor: pointer;
}

.signin{
    color: white;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 30px;
    border: 4px solid rgb(140, 30, 30);
    width: 350px;
    border-radius: 10px;
    color: white;
}

@keyframes signin {
    animation{
        box-shadow: 0 0 30px rgba(0,255,255,0.5);
    }
}



.signup-text{
    margin-top: 15px;
    font-size: 14px;
} 

.signup-text a{
    color: #00fff2;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover{
  text-decoration: underline;
}
